@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Podkova', serif;
    font-size: 25px;
    font-weight: 400;
}
button {
    @apply bg-sky-600 border text-white rounded px-3 py-1;
}

button[disabled] {
    @apply bg-gray-400;
}

input {
    @apply border-2 rounded px-2 py-1 bg-slate-50 w-full;
}

table td,
table th {
    @apply border px-2 py-1;
}

.menu-wrapper {
    @apply flex flex-col space-y-4 items-center justify-center h-full w-full p-4;
}
